{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}

<div id="vm" class="uk-width-1-1">
    <artical class="uk-artical">
        <h1 class="uk-artical-title">
            %% blog.name %%
        </h1>
        <p class="uk-artical-lead">
            %% blog.summary %%
        </p>
        <p>
            %% blog.content %%
        </p>
    </artical>
    <form id="form" class="uk-form uk-margin">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <h4>发表评论</h4>
        <textarea v-model="comment" type="text" rows="3" placeholder="comment" class="uk-textarea"></textarea>
        <button v-on:click="submit" class="uk-button-primary">提交评论</button>
    </form>
    <div class="uk-comment uk-comment uk-margin uk-width-expand">
        <h4 class="uk-margin">评论：</h4>
        {% for comment in comments %}
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="%% comment.user_image %%" width="60" height="60" alt="">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove">
                        %% comment.user_name %%
                    </h4>
                    <p class="uk-comment-meta uk-margin-remove-top">
                        %% comment.created_at|datetime %%
                    </p>
                    {%if user.admin or user.id == comment.user_id%}
                    <a v-on:click="deleteComment('%%comment.id%%')" class="uk-position-top-right uk-position-small">
                        <icon uk-icon="trash" />
                    </a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="uk-comment-body">
            <p>%% comment.content %%</p>
        </div>
        <hr class="uk-article-divider">
        {% endfor %}
    </div>
</div>

<script>
    new Vue({
        el: "#vm",
        data: {
            comment: ""
        },
        methods: {
            submit: function (event) {
                event.preventDefault()
                let $form = $("#form")
                if (!this.comment.trim()) {
                    return $form.showFormError("请输入评论")
                }
                $form.postJSON('/api/create/comment', {
                    content: this.comment,
                    blogId: "%% blog.id %%"
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err)
                    }
                    refresh()
                })
            },
            deleteComment: function (commentId) {
                postJSON('/api/delete/comment', {
                    commentId
                }, function (err, r) {
                    if (!err) {
                        refresh()
                    }
                })
            }
        }
    })
</script>

{% endblock %}