{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block content %}

<div class="uk-width-medium-3-4">
    <ul class="uk-list uk-list-divider uk-list-large">
        {% for blog in blogs %}
        <li>
            <article class="uk-article">
                <h1 class="uk-article-title"><a class="uk-link-reset" href="/blog/%% blog.id %%">%% blog.name %%</a>
                </h1>
                <p class="uk-article-meta">发表于%% blog.created_at|datetime %%</p>
                <p class="uk-text-lead">%% blog.summary %%</p>
                <p style="-webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;">%% blog.content %%</p>
                <p><a href="/blog/%% blog.id %%">阅读更多 <i uk-icon="chevron-double-right"></i></a></p>
            </article>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
        </ul>
    </div>
</div>

{% endblock %}