{% extends '__base__.html' %}

{% block title %}登录{% endblock %}

{% block beforehead %}
{% endblock %}

{% block content %}

<div class="uk-width-2-3">
    <h1>欢迎登陆！</h1>
    <form id="vm" class="uk-form uk-form-stacked">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input v-model="email" type="text" maxlength="50" placeholder="email" class="uk-width-1-1 uk-input">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input v-model="password" type="password" maxlength="50" placeholder="password"
                    class="uk-width-1-1 uk-input">
            </div>
        </div>
        <div class="uk-margin">
            <button v-on:click='login' class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 登录</button>
        </div>
    </form>
</div>



<script>
    function validateEmail(email) {
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
        return re.test(email.toLowerCase());
    }
    new Vue({
        el: '#vm',
        data: {
            email: '',
            password: '',
        },
        methods: {
            login: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (!validateEmail(this.email.trim().toLowerCase())) {
                    return $form.showFormError('请输入正确的Email地址');
                }
                if (this.password.length < 6) {
                    return $form.showFormError('密码长度至少为6个字符');
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('/api/authenticate', {
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password).toString()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    alert("登录成功！！")
                    return location.assign('/');
                });
            }
        }
    })
</script>
{% endblock %}